*{
    margin: 0;
    padding: 0;
    text-align: center ;
    border: border-box;
    /* background-color: rgb(217, 218, 244); */
}

.heading{
    background-color: rgb(3, 3, 45);
    color: white;
    height: 5rem ;
    line-height: 5rem;
    width: 100%;
}
.changemodediv{
    height: 3rem;
    /* background-color: aqua; */
    
}
.resetButton{
    position: relative;
    margin-top: 0.5rem;
    height: 2.5rem;
    width: 8rem;
    background-color: black;
    color: white;
    font-size: larger;
    font-weight: 700;
    border: none;
    border-radius: 7%;
    left: 40rem;;
    margin-right: 1rem;
    background-color: black;
}
.resetButton:active{
    height: 2.3rem;
    width: 7.8rem;
}
.changemode{
    position: relative;
    margin-top: 0.5rem;
    height: 2.5rem;
    width: 8rem;
    background-color: black;
    color: white;
    font-size: larger;
    font-weight: 700;
    border: none;
    border-radius: 7%;
    left: 40rem;
    margin-right: 5rem;
}
.changemode:active{
    height: 2.3rem;
    width: 7.8rem;
}
.choice{
    height: 200px;
    width: 200px;

}
.choice:hover{
    opacity: 0.7;
}

img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
    font-size: x-large;
    /* transition: all 0.3s ease-in-out 0s; */


}
img:active{
    height: 195px;
    width: 195px;

}
.choices{
    margin-top: 5rem;
    height:300px;
    display: flex;
    justify-content: center;
    gap: 50px;

}
.border{
    border: 5px solid transparent;

}
.border:hover{
    border: 5px solid black;
    
}
/* ------------score --------------- */
.scores{
    display: flex;
    justify-content: center;
    gap: 80px;
}
.score{
    font-size: x-large;
    font-weight: 800;
}
#you_score,#comp_score{
    font-size: 3rem;
}

/* ====================PLAY BUTTON =============== */
.play_button{
    margin-top: 70px;
    height: 60px;
    color: white;
    font-size: x-large;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;

}
.play{
    height: 90px;
    background-color: rgb(3, 3, 45);
    width: 280px;
    border-radius: 5%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 10px;

}

.anime{
    margin-left: 13rem;
    margin-top: 6rem;
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
.anime img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;

}
.equalto{
    height: 200px;
    width: 200px;
    position: relative;
    top: 6rem;
    font-size: x-large;
    font-weight: 900;
    margin-right: 2rem;
}
#comp_img_choice{
    margin-right: 7rem;
    height: 150px;
    width: 150px;
}
#you_img_choice{
    height: 150px;
    width: 150px;

}
